@using Microsoft.FluentUI.AspNetCore.Components

<FluentStack Orientation="Orientation.Vertical">

    @if (Recipes.Any())
    {
        <FluentStack Orientation="Orientation.Vertical">
            @foreach (var recipe in Recipes)
            {
                <RecipeCard Name="@recipe.Name" Description="@recipe.Description" />
            }
        </FluentStack>
    }
    else
    {
        <p>No recipes found. Create your first recipe.</p>
    }
</FluentStack>

@code {
    [Parameter]
    public IEnumerable<RecipeResponse> Recipes { get; set; } = new List<RecipeResponse>();
}

<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        margin: 10px;
    }
</style>