@using Microsoft.FluentUI.AspNetCore.Components

<FluentCard>
    <p class="recipe-name">@Recipe.Name</p>
    <p>@Recipe.Description</p>
    <a href="@RecipeUrl">View</a>
</FluentCard>

@code {
    [Parameter]
    public RecipeResponse Recipe { get; set; } = new RecipeResponse();

    public string RecipeUrl => $"/recipes/{Recipe.Id}";
}

<style>
    .recipe-name {
        font-weight: bold;
    }
</style>
