@page "/"
@attribute [Authorize]

@using Microsoft.FluentUI.AspNetCore.Components
@using Recipes.Web.Items.Cards
@using Recipes.Web.Items.Form
@using Recipes.Web.Models

@inject IUserService UserService
@inject IRecipesService RecipeService

<PageTitle>Recipes</PageTitle>

@if (Loading)
{
    <p>Loading your recipes...</p>
}
else
{
    <FluentStack Orientation="Orientation.Vertical">
        <OpenRecipeFormDialogButton OnRecipeSubmitted="@CreateRecipe" />
        <RecipeCardsStack Recipes="@LoadedRecipes" />
    </FluentStack>
}

@code {
    public IEnumerable<RecipeResponse> LoadedRecipes = new List<RecipeResponse>();
    public bool Loading = true;

    protected override async Task OnInitializedAsync()
    {
        await UserService.LoadUserDetails();
        LoadedRecipes = await RecipeService.GetRecipes();
        Loading = false;
    }

    public async Task CreateRecipe(RecipeForm recipe)
    {
        var submittedRecipe = new RecipeResponse()
        {
            Name = recipe.Name,
            Description = recipe.Description
        };

        await RecipeService.CreateRecipe(submittedRecipe);
        LoadedRecipes = LoadedRecipes.Append(submittedRecipe).ToList();
    }
}