@page "/recipes/{recipeId}"
@attribute [Authorize]

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.FluentUI.AspNetCore.Components

@inject IUserService UserService
@inject IRecipesService RecipeService
@inject NavigationManager Navigation

@if (Loading)
{
    <p>Loading your recipe...</p>
}
else
{
    @if (ErrorMessage == null)
    {
        <h1>@Recipe?.Name</h1>
        <p>@Recipe?.Description</p>

        <FluentButton Appearance="Appearance.Accent" OnClick="@Delete">Delete</FluentButton>
    }
    else
    {
        <p>@ErrorMessage</p>
    }
}

@code {
    [Parameter]
    public string RecipeId { get; set; } = string.Empty;

    public RecipeResponse? Recipe = null;
    public bool Loading = true;
    public string? ErrorMessage = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await UserService.LoadUserDetails();
            Recipe = await RecipeService.GetRecipe(RecipeId);

            if (Recipe == null)
            {
                ErrorMessage = "Recipe not found.";
            }

        }
        catch (Exception ex)
        {
            ErrorMessage = $"Failed to fetch the recipe: {ex.Message}";
        }

        Loading = false;
    }

    private async Task Delete()
    {
        try
        {
            await RecipeService.DeleteRecipe(RecipeId);
            Navigation.NavigateTo("/");
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Failed to delete the recipe: {ex.Message}";
        }
    }
}
