@using Microsoft.FluentUI.AspNetCore.Components
@inherits LayoutComponentBase

<FluentDesignTheme Mode="DesignThemeModes.Light" StorageName="theme" />
<div class="page">
    <FluentHeader>
        Recipes
        <FluentSpacer />
        <LoginDisplay />
    </FluentHeader>
    <FluentBodyContent>
        @Body
    </FluentBodyContent>
    <FluentFooter>
        <FluentSpacer />
        <p>Logan Farci &copy 2024. All rights reserved.</p>
    </FluentFooter>
</div>
<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
