@using Microsoft.FluentUI.AspNetCore.Components
@using Recipes.Web.Users.Authentication
@inherits LayoutComponentBase

<FluentStack Class="page" Orientation="Orientation.Vertical" VerticalGap="0">
    <FluentHeader Class="page-header">
        Recipes
        <FluentSpacer />
        <LoginDisplay />
    </FluentHeader>
    <FluentBodyContent Class="page-content">
        @Body
    </FluentBodyContent>
    <FluentFooter Class="page-footer">
        <p>Version 0.0.1</p>
        <FluentSpacer />
        <p>Logan Farci &copy 2024. All rights reserved.</p>
    </FluentFooter>
</FluentStack>
<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
